body,
html {
    background: linear-gradient(45deg, #6da3a0, #0ca299);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
}

img {
    cursor: pointer;
}

.formulario {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #d2d2d2;
    padding: 1rem;
}

.circular-loader {
    margin-top: 2vw;
    position: relative;
    width: 120px;
    height: 120px;
}

.circular-loader svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.circular-loader circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.circular-loader .bg {
    stroke: #333;
}

.circular-loader .progress {
    stroke: #0ca299;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 0.3s linear;
}

.circular-loader .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.plano-fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    background-color: #0000005e;
    border-radius: 5px;
    color: white;
}

.fundoImagens {
    height: max-content;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #d2d2d2;
    padding: 2vw;
}

.fundoImagens img {
    width: 100%;
}

.contornoAnexos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    height: max-content;
    padding: 5px;
    margin: 5px;
}

.contornoInterno {
    width: 100%;
    justify-content: start;
    gap: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    background-color: #99999940;
}

.contornoInterno img {
    width: 5vw
}

.telaOffline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.mensagemTela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    padding: 2vw;
    border-radius: 3px;
}

.botoes {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.nomeUsuario {
    padding: 5px;
    width: 80%;
    background-color: #0ca299;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 5vw;
}

.nomeUsuario span {
    padding: 5px;
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.loginBloco {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.botaoSuperiorLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #095752;
    color: white;
    padding: 0.5rem;
}

.botaoSuperiorLogin img {
    width: 7rem;
}

.baixoLogin {
    gap: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1vw;
}

.cadeado {
    width: 5rem;
}

.overlay {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.olho {
    width: 2rem;
}

select {
    padding: 5px;
    border-radius: 3px;
}

input,
textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888;
}

textarea {
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    background-color: #095752;
    border-radius: 3px;
    border: none;
    white-space: nowrap;
}

.janela {
    max-width: 90vw;
    overflow: auto;
    max-height: 80vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.janela_fora {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.rodapeAlerta {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.rodapeAlerta img {
    width: 3vw;
}

.camposTd {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.camposTd img {
    width: 7vw;
}

.megaInput {
    width: 25px;
    height: 25px;
}

.atalhos-opcoes img {
    padding: 0.2rem;
    width: 2rem;
}

.atalhos-opcoes:hover {
    color: white;
    background-color: #323940;
}

.atalhos-opcoes {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    gap: 10px;
    background-color: #efefef;
    padding: 3px;
    border-radius: 2px;
    font-size: 0.8rem;
}

.opcoes {
    background-color: #097fe6;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
}

.toolbarPopup {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(to left, #B12425 10%, #3b444c 0%);
    min-height: 35px;
}

.toolbarPopup span {
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
}

.botaoPopup {
    background-color: #3b444c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}

.botaoPopup img {
    width: 5vw;
}

.div-mensagem {
    font-size: 1.2rem;
    color: white;
}

.calendarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 10px;
}

.painel-agenda {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #e5e5e5;
    padding: 0.5rem;
    border-radius: 3px;
}

.painel-agenda img {
    border-radius: 3px;
    width: 4rem;
}

.botaoPopup label {
    cursor: pointer;
    color: white;
}

.topo-tabela {
    border-bottom: 1px solid #666666;
    min-height: 2vh;
    display: flex;
    align-items: start;
    justify-content: start;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #b1b1b1;
    gap: 2px;
    width: 100%;
}

.topo-tabela span {
    padding: 5px;
}

.blocoTabela {
    border-radius: 15px;
    border: solid 1px #bfbfbf;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.recorteTabela {
    height: max-content;
    min-width: 100%;
    max-width: 80vw;
    overflow: auto;
}

.tabela {
    min-width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.tabela thead {
    box-shadow: 0 1px 0 #ccc;
    top: 0;
    position: sticky;
}

.tabela thead input {
    width: 100%;
}

.tabela th {
    font-weight: lighter;
    border: solid 1px #d2d2d2;
    padding: 8px;
}

.tabela td {
    text-align: center;
    padding: 8px;
    border: 1px solid #d2d2d2;
}

.tabela span {
    text-align: left;
}

.tabela thead {
    box-shadow: 0 1px 0 #ccc;
    background-color: #d2d2d2;
}

.btnLateral {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #ffffff;
}

.btnLateral img {
    width: 2rem;
    margin-left: 10px
}

.menu-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222222ec;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1px;
    overflow: auto;
}

.side-menu.active {
    left: 0;
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.painelBotoes {
    border-bottom: 1px solid #666666;
    min-height: 4vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #b1b1b1;
    gap: 2px;
    width: 100%;
}

.rodapeTabela {
    border-top: 1px solid #666666;
    width: 100%;
    min-height: 2vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnRodape {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 95%;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    gap: 2vw;
}

.opcaoStatus {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

input[type="file"] {
    width: 70%;
}

.btnPadrao {
    width: 100%;
    background-color: #249f41;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color: white;
}

.aguarde {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10005;
}

.aguarde img {
    width: 35vw;
}

.mensagem {
    background-color: #d2d2d2;
    display: flex;
    gap: 10px;
    padding: 2vw;
    align-items: center;
    justify-content: center;
}

.mensagem img {
    width: 3rem;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding-left: 0.5rem;
    margin: 0.5rem;
}

.pesquisa img {
    width: 2.5rem;
}

.pesquisa input {
    border: none;
    background-color: transparent;
}

.aviso {
    background-color: #d2d2d2;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.telaInterna {
    padding: 2vw 1vw;
}

.configuracoes {
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    padding: 3vw;
    width: 100%;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #222222ec;
    width: 100%;
}

.toolbar span {
    color: white;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

hr {
    width: 100%;
}

.menu-btn div {
    width: 25px;
    height: 2px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

.contorno-dias-semana {
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    color: white;
    background-color: #095752;
    padding: 0 5px 0 5px;
}

.contorno-dias {
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    border: solid 1px #939393;
    background-color: #ffffffa8;
    padding: 3px;
}

.contorno-dias input {
    width: 2rem;
    height: 2rem;
}

.atualizar {
    width: 3rem;
}

.camposCadastro {
    background-color: #d2d2d2;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .fotos {
        grid-template-columns: repeat(3, 1fr);
    }

    .fotos img {
        width: 10vw;
    }

    .capturar {
        padding: 0.5vw;
        margin: 0.5vw;
    }

    .painel-clientes {
        grid-template-columns: repeat(3, 1fr);
    }

    .tabTarefas table {
        width: max-content;
        table-layout: fixed;
        border-collapse: collapse;
        display: table;
    }

    .tabTarefas table td:nth-child(3),
    .tabTarefas table th:nth-child(3) {
        width: 35vw;
    }

    .tabTarefas table td:nth-child(4),
    .tabTarefas table th:nth-child(4) {
        width: 35vw;
    }

    .painel-1-tarefas {
        grid-template-columns: repeat(4, 1fr);
        gap: 2vw;
    }

    .loginBloco {
        max-width: 80vw;
        max-height: 80vh;
    }

    .baixoLogin {
        flex-direction: row;
    }

    .botaoPopup label {
        font-size: 3vw;
    }

    .btnRodape {
        width: auto;
        right: 3vw;
        bottom: 3vh;
    }

    .btnExcel {
        gap: 10vw;
        display: flex;
    }

    .detalhes img {
        width: 3vw;
    }

    .recorteTabela {
        max-width: 90vw;
    }

    .aguarde img {
        width: 10vw;
    }

    .camposCadastro {
        padding: 2vw;
    }

    .painel-cadastro {
        max-height: 50vh;
        padding: 5vw;
    }

    .contornoInterno img {
        width: 2vw
    }

    .botoes {
        align-items: center;
        flex-direction: row;
    }

    .painelPin {
        flex-direction: row;
    }

    .camposTd img {
        width: 3vw;
    }

}